version: 1

disable_existing_loggers: true

formatters:
  stdout-formatter:
    format: "%(asctime)s - [%(levelname)-5s | %(name)s.%(funcName)s():] %(message)s"
    datefmt: '%d-%m-%Y %H:%M:%S'

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: stdout-formatter
    stream: ext://sys.stdout

root:
  level: DEBUG
  handlers: [console]
  propagate: yes

